

form{
    @include degrade($color-deg);
    //background: linear-gradient(45deg, rgb(162, 0, 255)0%, rgb(0, 217, 255));
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-family: $font-family;
}
label{
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="number"],
select{
    padding: 10px;
    border:  1px solid $border-color;
    border-radius: 3px;
    width: 100%;
    //box-sizing: border-box;
    font-size: 16px;
    margin-bottom: 10px;
    &:focus{
        outline: none;
        border: 1px solid aqua;
    }
}
textarea{
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 3px;
    width: 100%;
    &:focus{
        outline: none;
        border: 1px solid aqua;
    }
}

select{
    font-family: $font-family;
    border:  1px solid $border-color;
}

button[type="submit"]{
    background-color: rgb(81, 245, 245);
    font-family: $font-family;
    color: rgb(0, 3, 46);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    //transition: rgb(113, 3, 240) 0.2s ease-in-out;
}

button[type="submit"]:hover{
    background-color: aqua;
    color: rgb(255, 255, 255);
}

.error-message{
    color: tomato;
    font-size: 12px;
    margin-top: 5px;
}

.invalid{
    border: 1px solid tomato;
    background-color: lighten(tomato, 45%);
}