//Variafles fuentes
$font-family: cursive;
$font-color-a: rgb(255, 255, 253);
$font-color: rgb(2, 204, 2);
$font-size-titles: 45px;
$font-size-paragraphs: 17px;

//degradado
$color-deg: background;


//Variables NavBar
$posicion: fixed;
$top: 0; 
$ancho: 100%; 
$z-i: 100; 
$bg-color: rgb(26, 1, 59);
$padding-a: 0.5rem;
$colorCambio: aqua;

//Variables form
$border-color: rgb(55, 0, 255);


